* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background: #0275d8;
    color: white;
    padding: 20px;
    text-align: center;
}

.autor {
    font-size: 0.9rem;
    margin-top: 5px;
}

/* MENU */
nav {
    margin-top: 15px;
}

#btn-menu {
    display: none;
    background: #025aa5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* MAIN */
main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* FOOTER */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    #menu-list {
        display: none;
        flex-direction: column;
        background: #025aa5;
        padding: 10px;
    }

    #btn-menu {
        display: inline-block;
    }

}

/* PORTFÓLIO */
#portfolio {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.grade-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 15px;
    margin-top: 20px;
}

.bloco {
    background: #e8f1ff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #a9c8ff;
    transition: 0.3s;
}

.bloco:hover {
    background: #d6e6ff;
    transform: scale(1.02);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background: white;
    max-width: 600px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}

.fechar {
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .grade-portfolio {
        grid-template-columns: 1fr; /* no celular apenas 1 por linha */
    }
}
